/* ========================
   BASE STYLES
   ======================== */

   body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #23214c;    
    margin: 0;
}

a {
    text-decoration: none;
    color: #23214c;
    transition: color 0.2s linear;
}

a:hover {
    color: #ee87a4;
}

img {
    max-width: 100%;
    height: auto;
}

.full-width {
    width: 100%;
    line-height: 0;
}

/* ========================
   LOADER
   ======================== */

.doc-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    display: table;
}

.doc-loader td {
    text-align: center;
    vertical-align: middle;
}

.doc-loader img {
    width: 90px;
    height: 90px;
}

/* ========================
   CONTENT CONTAINERS
   ======================== */

.content-1170 {
    width: 1170px;
    margin: 0 auto;
}

.content-1170 img {
    width: auto;
    height: auto;
}

/* ========================
   SECTIONS
   ======================== */

.section {
    position: relative;
    z-index: 1;
    padding: 120px 0 60px;
}

.section-title-holder {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto 40px;
    padding: 40px 24px 20px;
    text-align: center;
}

.section-title-holder h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
    margin: 0;
}

/* ========================
   SECTION CONTENT
   ======================== */

.section-content-holder {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    background: #fff;
}

.section-content-holder.right {
    margin-left: auto;
}

.section-content-holder.left {
    margin-right: auto;
}

.content-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #221c5a;
    margin: 0 0 30px;
}

/* ========================
   HOME SECTION
   ======================== */

.intro-page {
    padding-bottom: 170px;
    min-height: calc(100vh - 170px);
    background-color: #221c5a;
}

h1.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    margin: 100px auto 0;
}
.section h2.sub-title {
    font-family: 'Montserrat', sans-serif; /* your font */
    font-size: 40px !important;           /* make it bigger */
    font-weight: 700 !important;
    line-height: 1.2 !important;
    text-align: center !important;
    color: #32db89 !important;            /* your desired color */
    padding-top: 20px !important;         /* spacing from top */
    margin: 0 auto !important;
    text-transform: uppercase !important;
}


.title-desc {
    font-family: 'PT Serif', serif;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    max-width: 333px;
    margin: 0 auto;
}

/* ========================
   ABOUT SECTION
   ======================== */

#about {
    background-color: #221c5a;
    color: #fff;
}

#about .one_half {
    width: 48%;
    float: left;
    margin-right: 4%;
}

#about .one_half.last {
    margin-right: 0;
}

.member-content-holder {
    width: 330px;
    padding: 90px 50px 50px;
    float: left;
}

.member-image-holder {
    width: 370px;
    float: right;
}

.member-image-holder img {
    width: 100%;
}

.member-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 5px;
}

.member-position {
    font-size: 14px;
    color: #32db89;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.member-content {
    line-height: 26px;
}

/* ========================
   CALENDAR SECTION
   ======================== */

#calendar iframe {
    width: 100%;
    height: 600px;
    border: 0;
}
#calendar > h3.sub-title {
    font-size: 1000px;
    color: #32db89;
    padding-top: 20px;
    text-align: center;
}

/* ========================
   CONTACT SECTION
   ======================== */

#contact {
    background-color: #221c5a;
    color: #fff;
}

.contact-form {
    width: 770px;
    max-width: 100%;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #1c1c1c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
    padding: 5px 0;
    color: #23214c;
}

.contact-form input[type=submit] {
    width: 100%;
    padding: 12px 0;
    border: 2px solid #e64b77;
    background: transparent;
    color: #e64b77;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s linear;
}

.contact-form input[type=submit]:hover {
    color: #fff;
    background-color: #e64b77;
}


/* ========================
   FOOTER
   ======================== */

footer {
    background-color: #221C5A;
    color: #5b5881;
    text-align: center;
    padding: 100px 0;
}

/* ========================
   MEDIA QUERIES
   ======================== */

@media screen and (max-width: 1020px) {
    .content-1170 {
        width: 95%;
        margin: 0 auto;
    }

    .section-content-holder.right,
    .section-content-holder.left {
        margin: 0;
    }

    #about .one_half,
    #about .one_half.last {
        width: 100%;
        float: none;
        margin: 0 0 30px;
    }

    .member-content-holder,
    .member-image-holder {
        width: 100%;
        float: none;
        padding: 20px 0;
    }

    .section-title-holder h2 {
        font-size: 24px;
    }

    h1.big-title {
        font-size: 40px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 650px) {
    .member-content-holder {
        width: 90%;
        padding: 10px 5%;
    }

    .member-image-holder {
        width: 100%;
        padding: 10px 0;
    }
}
